:root {
  --accent-color: #2196f3;

  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: 157, 164, 189;

  
  /*--secondary-text-color-theme-dark: #ffffff;*/
  /*--primary-text-color-theme-light: #555555;
  --secondary-text-color-theme-light: #303030;
  color: #212121;*/
}
.body {
  font-family: var(--primary-font-family);
  
}

.nav-list-link {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color)
}

.contact-mailto,
.contact-number {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-mailto:hover,
.contact-mailto:focus {
  color: var(--accent-color)
}

/* ========= START COMPONENTS ========= */
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--accent-color)
}

.logo-studio {
  color: #000000;
}
.footer-logo-studio {
  color: #ffffff;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.button {
  background-color: none;
}


.mobal-btn {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /*display: flex;
  align-items: center;
  text-align: center;*/
  letter-spacing: 0.06em;
  background: #F5F4FA;
  cursor: pointer;
  color: #212121;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;*/
}

.mobal-btn:hover,
.mobal-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color)
}

.img-name-team {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  }
.img-name-project {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;

  }
.img-position-team{
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  }
.img-description-project {
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
  /* =========  END  COMPONENTS =========*/
  /* ========= START HERO ========= */

.hero {
  /*position: absolute;
  width: 1600px;
  height: 600px;
  left: -210px;
  top: 80px;*/
  background: #2f303a;
}

.main-title {
  font-family: var(--primary-font-family);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
/*position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;*/

}
/* ========= END HERO ========= */

/* ========= START ABOUT ========= */
/*about .specifics {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
}

.specifics-one {
  /*position: absolute;
  width: 270px;
  height: 101px;
  left: 215px;
  top: 774px;
}
*/


.specifics-theme {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.specifics-description {
  font-family: var(--primary-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*
.specifics-two {
  /*position: absolute;
  width: 270px;
  height: 101px;
  left: 515px;
  top: 774px;
}
*/

/*
.specifics-there {
  /*position: absolute;
  width: 270px;
  height: 101px;
  left: 815px;
  top: 774px;
}
*/


/*.specifics-four {

  position: absolute;
  width: 270px;
  height: 101px;
  left: 815px;
  top: 774px;
}
  */

/* ========= END ABOUT ========= */

/* ========= START WHAT WE DO ========= */
/*.what-we-do {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}
*/


.title-img {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*
.list-img-work {
  /*position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
  
}
.img-work {
  /*position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
}
*/

/* ========= END WHAT WE DO ========= */

/* ========= START TEAM ========= */
/*
.section-our-team {
  /*position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;*/
}
.title-img {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/*
.list-img-team {
}

.bloc-img-team {
/*position: absolute;
width: 270px;
/*height: 368px;
left: 506px;
top: 1635px;
}
*/


/*
.img-team {
  /*position: absolute;
  width: 270px;
  height: 260px;
  left: 206px;
  top: 1635px;

  background: url(4853.jpg);
  border-radius: 0px;
}
*/

/* ========= END TEAM ========= */

/* ========= START FOOTER ========= */

.footer {
  background: #2f303a;
}
  /*position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;*/
/*
.footer-address {
 /*position: absolute;
  width: 231px;
  height: 81px;
  left: 215px;
  top: 2208px;
}
*/


.address-houce {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color:#ffffff
}
.address-mailto {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-phone {
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* ========= END FOOTER ========= */

/* ==========START  PORTFOLIO ========== */
.portfolio {
  position: absolute;
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}

/*
.filters-portfolio {
}
.filters-portfolio-buttons-list {
}
/*.filter-button {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
color: #212121;


background: #F5F4FA;
border-radius: 4px;*/


/*

.portfolio-nav-item {
}

.section-project {

}
.project-title {

}
.project-list-bloc {

}
.project-bloc {

}
.project-img {

}
.project-name {

}
.project-description {

}
==========END  PORTFOLIO ========== */
